*,
::after,
*,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #333333;
  --clr-white: #fff;
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-prussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --clr-red: #e63946;
  --clr-green: #34a0a4;
}

html {
  font-size: 28px;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-prussian-blue);
}

.form {
  background-color: var(--clr-white);
  padding: 1.5rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--clr-white);
  border-radius: 0.5rem;
}

.submit {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--clr-prussian-blue);
  border: 2px solid var(--clr-prussian-blue);
  color: #fff;
  transition: all 0.5s ease;
}

.submit:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.form-title {
  font-size: 1.5rem;
  text-align: center;
}

.form-control {
  font-size: 1rem;
  font-weight: 600;
}

.input {
  padding: 0.75rem 1.25rem;
  border: 2px solid var(--clr-black);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.input:focus {
  border-color: var(--clr-green);
}

.input.success {
  border: 3px solid rgb(21, 146, 21);
}

.input.error-input {
  border: 3px solid var(--clr-red);
}

.error {
  font-size: 0.9rem;
  font-weight: 500;
  color: #e63946;
  margin-left: 0.75rem;
  visibility: hidden;
}

.error-message {
  visibility: visible;
}
